.App {
	position: relative;
	margin: 0;
	width: 100%;
	margin: auto;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* header section */

.header-container {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: hsl(209, 23%, 22%);
	z-index: 5;
}

.wrapper {
	position: relative;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	height: 60px;
}

.header-name-container {
	position: absolute;
	bottom: 10px;
	left: 0;
}

.dark-mode-container {
	position: absolute;
	right: 0px;
	bottom: 10px;
}

/* search bar and select section  */
.main-search-container {
	width: 80%;
	margin: auto;
	padding-top: 60px;
}

.search-wrapper {
	width: 100%;
	height: 70px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.search-container {
	padding-top: 30px;
}

.search-container input {
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 30px;
	outline: none;
	border: none;
	font-size: 15px;
	color: white;
	border-radius: 5px;
}

.select-container {
	position: absolute;
	right: 0;
	padding-top: 30px;
}

/* country card section */

.card-container {
	width: 85%;
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 50px;
}

.sub-card-container {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.country {
	width: 275px;
	height: 100%;
	cursor: pointer;
}

.flag img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

/* card information */
.card-info {
	color: white;
	padding-left: 20px;
}

.country-title-container {
	margin-top: 10px;
}

.country-info {
	margin-top: 15px;
}

.country-info p {
	margin-top: 5px;
	font-size: 14px;
}

/* slide in card section */
.side-card-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 60px;
	background-color: hsl(207, 26%, 17%);
	transition: 0.2s ease;
}

.back-button-container {
	height: 100px;
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
}

.back-button-container button {
	padding: 7px 25px 7px 25px;
	font-size: 14px;
	color: white;
	background-color: hsl(209, 23%, 22%);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);
}

.arrow {
	margin-right: 8px;
}

.sub-side-card-container {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
}

.side-card {
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-card-flag img {
	width: 100%;
}

.country-info-container {
	width: 90%;
	height: 60%;
	margin: auto;
}

.side-card-title {
	margin-top: 50px;
	color: white;
}

.side-card-info-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
	column-gap: 20px;
}

.side-card-info-container p {
	margin-top: 6px;
	color: white;
}

p span {
	color: hsl(0, 0%, 80%);
}

@media only screen and (max-width: 1550px) {
	.card-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1108px) {
	.card-container {
		grid-template-columns: 1fr 1fr;
	}

	.search-container input {
		width: 80%;
	}

	.sub-side-card-container {
		grid-template-columns: 1fr;
	}

	.side-card {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: top;
	}

	.country-info-container {
		width: 90%;
		height: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 767px) {
	.card-container {
		margin-top: 100px;
	}

	.main-search-container {
		width: 95%;
	}

	.search-wrapper {
		grid-template-columns: 1fr 1fr;
	}

	.search-container {
		text-align: left;
	}

	.search-container input {
		width: 80%;
		padding-right: 0;
	}

	.select-container {
		position: absolute;
	}

	.sub-side-card-container {
		grid-template-columns: 1fr;
	}

	.flag-container {
		margin-top: -75px;
	}

	.side-card {
		height: 500px;
	}

	.country-info-container {
		width: 100%;
		height: 100%;
		margin-top: -100px;
	}
}

@media only screen and (max-width: 500px) {
	.card-container {
		margin-top: 100px;
		grid-template-columns: 1fr;
	}

	.main-search-container {
		width: 95%;
	}

	.search-wrapper {
		grid-template-columns: 1fr;
	}

	.search-container {
		text-align: center;
	}

	.search-container input {
		width: 100%;
		padding-right: 0;
	}

	.select-container {
		position: relative;
	}

	/* side card section */
	.side-card-info-container {
		grid-template-columns: 1fr;
	}

	.side-card-container {
		overflow: scroll;
	}

	.country-info-container {
		margin-top: -150px;
	}
}
